h1.classicHeader1 {
    font-family:'Arial';
    text-align:center;
    font-weight:lighter;
    transition: all 0.6s ease;

}
h1.classicHeader1:hover {
    font-family:'Arial';
    text-align:center;
    color:#454545;
    transform: scale(1.0102)
}
h2.lineBreak {
    font-size:32px;
    font-family:'Helvetica';
    font-weight:lighter;
    font-style:italic;
}
img.wesleysclass {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.topBar {
    width:100%;
    height:75px;
    background-color:lightgray;
    border-radius: 10px;
    box-shadow:4px 4px 8px black;
}
h3.classic3Header {
    font-family:'Arial';
    font-weight:lighter;
    text-align: center;

}
h3.classic3Header:hover {
    font-family:'Arial';
    font-weight:light;
    color:#533d3b
}
div.classicHeadersbox {
    background-color:#656565;
    width:100%;
    height:135;
    border-radius: 10px;
    box-shadow:4px 4px 8px black;
}
img.gameimg {
    filter:drop-shadow(2px 2px 3px black);
    filter:grayscale();
    transition: all 0.6s ease;
}
img.gameimg:hover {
    filter:drop-shadow(2px 2px 3px black);
    transform: scale(1.2)
}
div.sidebar {
    background-color:#151515;
    box-shadow:5px 5px 7px black;
    width:250px;
    height:675px;
    position:fixed;
    left:1650px;
    top:275px;
}
h1.sidebarMenu {
    font-family:'Verdana';
    font-weight:lighter;
    text-align:center;
    transition:all 0.6s ease;
}
h2.sidebarOptions {
    font-family:'Segoe UI';
    text-align:center;
    font-weight:light;
    transition:all 0.6s ease;

}
h2.sidebarOptions:hover {
    font-family:'Segoe UI';
    text-align:center;
    font-weight:light;
    color:#656565;
    transform: scale(1.102)
}
h1.sidebarMenu:hover {
    font-family:'Verdana';
    font-weight:lighter;
    text-align:center;
    color:#656565;
    transform: scale(1.102)
}
